<div class="tab-container mx-auto">
    <input type="radio" name="tab" id="tab1" class="tab tab--1" />
    <label class="tab_label" for="tab1"><i class="bi bi-house mobile"></i><span>Home</span></label>
  
    <input type="radio" name="tab" id="tab2" class="tab tab--2" />
    <label class="tab_label" for="tab2"><i class="bi bi-tools mobile"></i><span>Services</span></label>
  
    <input type="radio" name="tab" id="tab3" class="tab tab--3" />
    <label class="tab_label" for="tab3"><i class="bi bi-bell mobile"></i><span>Notifications</span></label>

    <!-- <input type="radio" name="tab" id="tab4" class="tab tab--4" /> -->
    <label class="tab_label" id="disabled" for="tab4"><i class="bi bi-gear mobile"></i><span>Settings</span></label>

    <!-- <input type="radio" name="tab" id="tab5" class="tab tab--5" /> -->
    <label class="tab_label" id="disabled" for="tab5"><i class="bi bi-person mobile"></i><span>Profile</span></label>
  
    <div class="indicator"></div>
</div>  