<%- include('partials/header') %>

<%- include('partials/navigationBar') %>

    <div class="container">
        <div class="col m-2">
            <h2>Emergency</h2>
            <p>swiftly access emergency services for immediate assistance in critical situations</p>
            <div class="col-12">
                <div class="card rounded-circle text-center justify-content-center mx-auto" style="background-color: #941C2F; width: 200px; height: 200px;">
                    <h2 style="color: #03191E;">HELP!</h2>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>