<%- include('partials/header') %>

<div class="container vh-100 d-flex"">
    <div class="row align-items-center justify-content-center flex-fill">
        <div class="col-md-3 col-lg-6">
            <h2>Home Guard</h2>
        </div>
        <div class="col-md-6 col-lg-4">
            <form method="post" action="/services">
                <!-- Username input -->
                <div class="row my-5" style="border-bottom: 2px solid #941C2F;">
                    <div class="col-auto">
                        <i class="bi bi-person" style="font-size: 30px;color: #941C2F;"></i>
                    </div>
                    <div class="col-auto">
                        <input class="form-control form-control-lg form-control-plaintext" type="text" name="username" placeholder="Username">
                    </div>
                </div>
              
                <!-- Password input -->
                <div class="row my-5" style="border-bottom: 2px solid #941C2F;">
                    <div class="col-auto">
                        <i class="bi bi-lock" style="font-size: 30px;color: #941C2F;"></i>
                    </div>
                    <div class="col-auto">
                        <input class="form-control form-control-lg form-control-plaintext" type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <!-- Submit button -->
                <div class="d-grid login gap-2">
                    <button type="submit" class="btn mb-4">Sign in</button>
                </div>
                
        
              </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>